    * {
        box-sizing: border-box;
    }
    
    body {
        overflow-y: scroll;
        /* Show scrollbars */
    }
    
    .container {
        display: flex;
        /* establish flex container */
        flex-direction: row;
        /* default value; can be omitted */
        flex-wrap: nowrap;
        /* default value; can be omitted */
        justify-content: space-between;
        /* switched from default (flex-start, see below) */
        /*background-color: lightyellow;*/
    }
    
    #container {
        display: flex;
        /* establish flex container */
        flex-direction: row;
        /* default value; can be omitted */
        flex-wrap: nowrap;
        /* default value; can be omitted */
        justify-content: space-between;
        /* switched from default (flex-start, see below) */
        /*background-color: lightyellow;*/
    }
    
    #container>div {
        /*width: 100px;*/
        /*height: 70px;*/
        border: 2px dashed red;
        border: none;
    }
    
    .sgp-header-title {
        border: 2px dashed red;
        width: 530px;
        border: none;
    }
    
    .sgp-header2-title {
        border: 2px dashed red;
        width: 230px;
        border: none;
    }
    
    .sgp-header-chart {
        border: 2px dashed green;
        width: 100px;
        padding-top: 8px;
        border: none;
    }
    
    .sgp-header2-chart {
        border: 2px dashed green;
        width: 500px;
        padding-top: 8px;
        border: none;
    }
    
    .sgp-header-buttons {
        border: 2px dashed blue;
        width: 530px;
        border: none;
    }
    
    .sgp-header2-buttons {
        border: 2px dashed blue;
        width: 330px;
        border: none;
    }
    
    #sgp-header-div {
        border: 1px solid black;
    }
    
    #sgp-title-div {
        margin-left: 0px;
        width: 530px;
        height: 50px;
        border: 1px solid blue;
    }
    
    #sgp-title-h1 {
        float: left;
        color: darkolivegreen;
    }
    
    #sgp-title-h1-icon {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #sgp-grafico-div {
        margin: auto;
        border: 1px solid blue;
        width: 100px;
        height: 50px;
    }
    
    .sgp-grafico-canvas {
        width: 50%;
        max-width: 300px;
    }
    
    .sgp-adicionar-protocolo-div {
        margin-right: 0px;
        border: 1px solid magenta;
        /*width: 180px;
        height: 50px;*/
    }
    
    .sgp-header-button:disabled,
    .sgp-header-button[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
        pointer-events: none;
        /*Button disabled - CSS color class*/
        color: #c0c0c0;
        background-color: #ffffff;
    }
    
    .sgp-header-button {
        text-align: justify;
        font-family: sans-serif;
        font-weight: bold;
        color: white;
        border-radius: 6px;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
        padding: 8px 20px 8px 20px;
        border: 1px solid rgb(11, 92, 0);
        margin-top: 16.750px;
        cursor: pointer;
        float: right;
    }
    
    .sgp-header-button-todos {
        background-color: #3483e5;
        margin-right: 10px;
        border-radius: 0px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }
    
    .sgp-header-button-todos:hover {
        background-color: #4454e9;
    }
    
    .sgp-header-button-hoje {
        background-color: #3483e5;
        margin-right: 1px;
        margin-right: 0px;
        border-radius: 0px;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }
    
    .sgp-header-button-hoje:hover {
        background-color: #4454e9;
    }
    
    .sgp-header-button-limpar-filtros {
        background-color: #e97844;
        margin-right: 10px;
    }
    
    .sgp-header-button-limpar-filtros:hover {
        background-color: #d94b09;
        margin-right: 10px;
    }
    
    .sgp-header-button-adicionar-protocolo {
        background-color: #004417;
        background-color: #209046;
    }
    
    .sgp-header-total-de-atendimentos {
        text-align: justify;
        font-family: sans-serif;
        color: #4454e9;
        /*border-radius: 6px;*/
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        padding: 2px 20px 2px 20px;
        border: 1px solid #e3ebe6;
        margin-top: 16.750px;
        margin-top: 5px;
        float: right;
        /*background-color: #e3ebe6;*/
        margin-right: 30px;
        margin-right: 0px;
    }
    
    #total-de-atendimentos {
        font-weight: bold;
    }
    
    h1 {
        font-family: sans-serif;
        font-size: 25px;
        text-align: center;
    }
    
    h2 {
        text-align: center;
    }
    
    .combo {
        padding: 10px;
        border-color: rgb(224, 224, 224);
        text-align: center;
    }
    
    .search-field {
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 12px;
        padding: 12px 20px 12px 5px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
    
    .no-search-field {
        background-color: #f9f9f9;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 12px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        border: 1px solid #f9f9f9;
        margin-bottom: 12px;
    }
    
    #tabela-protocolos {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ffffff;
        font-size: 15px;
        font-family: sans-serif;
    }
    
    #tabela-protocolos th,
    #tabela-protocolos td {
        text-align: left;
        padding: 12px;
    }
    
    #tabela-protocolos tr {
        border-bottom: 1px solid rgb(223, 223, 223);
    }
    
    #tabela-protocolos tr.header,
    #tabela-protocolos tr:hover {
        background-color: #f0f0f0;
    }
    /* Clearable text inputs */
    
    .clearable {
        position: relative;
        display: inline-block;
    }
    
    .clearable input[type=text] {
        padding-right: 24px;
        width: 100%;
        box-sizing: border-box;
    }
    
    .clearable__clear {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 8px;
        font-style: normal;
        font-size: 0.8em;
        user-select: none;
        cursor: pointer;
    }
    
    .clearable input::-ms-clear {
        /* Remove IE default X */
        display: none;
    }
    
    .isDisabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }
    
    .red {
        background-color: red;
    }
    
    .green {
        background-color: green;
    }
    
    .blue {
        background-color: blue;
    }
    
    .yellow {
        background-color: yellow;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .sphere::after {
        background-color: rgba(255, 255, 255, 0.3);
        content: '';
        height: 45%;
        width: 12%;
        position: absolute;
        top: 4%;
        left: 15%;
        border-radius: 50%;
        transform: rotate(40deg);
    }
    
    .pendente {
        background-color: #e9c04e;
        font-weight: normal;
        text-align: left;
    }
    
    .Pendente {
        background-color: #e9c04e;
        border-color: #e58a3f;
        font-weight: normal;
        text-align: left;
    }
    
    .PENDENTE {
        background-color: #e9c04e;
        border-color: #e58a3f;
        color: #000000;
        font-weight: bold;
        text-align: center;
        margin: 5%;
    }
    
    .indeferido {
        background-color: #e94e4e;
        border-color: #e53f3f;
        font-weight: normal;
        text-align: left;
    }
    
    .Indeferido {
        background-color: #e94e4e;
        border-color: #e53f3f;
        font-weight: normal;
        text-align: left;
    }
    
    .INDEFERIDO {
        background-color: #e94e4e;
        border-color: #e53f3f;
        color: #000000;
        font-weight: bold;
        text-align: center;
        margin: 5%;
    }
    
    .deferido {
        background-color: #55e861;
        border-color: #4de53f;
        font-weight: normal;
        text-align: left;
    }
    
    .Deferido {
        background-color: #55e861;
        border-color: #4de53f;
        font-weight: normal;
        text-align: left;
    }
    
    .DEFERIDO {
        background-color: #55e861;
        border-color: #4de53f;
        color: #000000;
        font-weight: bold;
        text-align: center;
        margin: 5%;
    }
    
    .protocolo {
        text-align: right;
    }
    
    .action-button {
        background: #004417;
        border-radius: 6px;
        padding: 15px;
        cursor: pointer;
        color: rgb(255, 255, 255);
        border: none;
        font-size: 16px;
        float: right;
        margin-bottom: 15px;
    }
    /* Icons */
    
    .fa-file {
        color: green !important;
    }
    
    .fa-file:hover {
        color: darkgreen !important;
    }
    
    .fa-file-o:hover {
        color: darkgreen !important;
    }
    
    .fa-edit {
        color: green !important;
    }
    
    .fa-edit:hover {
        color: darkgreen !important;
    }
    
    .fa-edit-o:hover {
        color: darkgreen !important;
    }
    
    .fa-clone {
        color: green !important;
    }
    
    .fa-clone:hover {
        color: darkgreen !important;
    }
    
    .fa-clone-o:hover {
        color: darkgreen !important;
    }
    
    .fa-clipboard {
        color: green !important;
    }
    /* Footer */
    
    .link-copyright {
        font-weight: bold;
        color: olivedrab;
    }
    
    .link-copyright:hover {
        font-weight: bold;
        color: olivedrab;
    }
    /* Protocolo Viewer */
    
    .field-set {
        margin-top: 15px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    
    .field-title {
        font-weight: bold;
        font-style: normal;
    }
    
    .field-value {
        margin-top: 5px;
        margin-left: 20px;
        font-style: italic;
    }
    
    #adicionar-protocolo {
        text-align: justify;
        font-family: sans-serif;
        font-weight: bold;
        background-color: #004417;
        color: white;
        border-radius: 6px;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
        padding: 8px 20px 8px 20px;
        border: 1px solid rgb(11, 92, 0);
        float: right;
        margin-bottom: 15px;
        margin-top: 16.750px;
        margin-bottom: 16.750px;
        cursor: pointer;
    }
    
    .sgp-header-button-adicionar-protocolo:hover {
        background-color: #004417;
    }
    
    .divider {
        font-size: 0.2px;
        background: rgba(255, 255, 255, 0.5);
    }